<div class="section rss">
	{{ include('blog/_rate.html.twig') }}
    <a href="{{ path('blog_rss', app.request.query.all) }}">
        <i class="fa fa-rss" aria-hidden="true"></i> {{ 'menu.rss'|trans }}
    </a>
</div>
